@model ProsthikiPeripatouViewModel

@{
    ViewData["Title"] = "Επεξεργασία Περιπάτου";
}

<h1 class="mt-4 mb-3 text-primary">Επεξεργασία Περιπάτου</h1>

<form method="post" class="bg-light p-4 rounded shadow-sm">
    <div class="mb-3">
        <label class="form-label">Όνομα</label>
        <input type="text" class="form-control" asp-for="Onoma" />
    </div>

    <div class="mb-3">
        <label class="form-label">Περιγραφή</label>
        <textarea class="form-control" asp-for="Perigrafh" rows="6"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Μήκος</label>
        <input type="number" class="form-control" asp-for="Mhkos" />
    </div>

    <div class="mb-3">
        <label class="form-label">Σύνδεσμος Εικόνας</label>
        <input type="text" class="form-control" asp-for="EikonaUrl" />
    </div>

    <div class="mb-3">
        <label class="form-label">Δυσκολία</label>
        <select class="form-control" asp-for="DyskoliaId" asp-items="Model.Dyskolies"></select>
    </div>

    <div class="mb-3">
        <label class="form-label">Περιοχή</label>
        <select class="form-control" asp-for="PerioxhId" asp-items="Model.Perioxes"></select>
    </div>

    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary">Αποθήκευση Περιπάτου</button>
        <button type="submit" asp-controller="Peripatoi" asp-action="Diagrafh" asp-route-id="@Model.Id" class="btn btn-danger">Οριστική Διαγραφή Περιοχής</button>
    </div>
</form>

<style>
    h1 {
        font-family: 'Arial', sans-serif;
        font-size: 2.5rem;
    }

    .btn-primary {
        font-size: 1rem;
    }

    .form-label {
        font-weight: bold;
    }

    .form-control {
        border-radius: .25rem;
    }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }
</style>
