@model IEnumerable<Peripatoi.UI.Models.DTOs.PerioxhDto>

@{
    ViewData["Title"] = "Περιοχές";
}

<h1 class="mt-4 mb-3 text-primary">Περιοχές</h1>

<div class="d-flex justify-content-end mb-3">
    <a class="btn btn-primary" asp-controller="Perioxes" asp-action="Prosthiki">Προσθήκη νέας περιοχής</a>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered shadow-sm">
        <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Κωδικός</th>
                <th>Όνομα</th>
                <th>Ενέργειες</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var perioxh in Model)
            {
                <tr>
                    <td>@perioxh.Id</td>
                    <td>@perioxh.Kwdikos</td>
                    <td>@perioxh.Onoma</td>
                    <td>
                        <a asp-controller="Perioxes" asp-action="Epeksergasia" asp-route-id="@perioxh.Id" class="btn btn-outline-primary btn-sm">Επεξεργασία</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<style>
    h1 {
        font-family: 'Arial', sans-serif;
        font-size: 2.5rem;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .table-responsive {
        overflow-x: auto;
    }

    .table {
        border-collapse: collapse;
    }

        .table th, .table td {
            vertical-align: middle;
            text-align: center;
        }

    .shadow-sm {
        box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    }

    .table-hover tbody tr:hover {
        background-color: #f1f1f1;
    }
</style>
