@{
    ViewData["Title"] = "Αρχική Σελίδα";
}

<style>
    .image-container {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .image-container img {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
</style>

<div class="text-center">
    <h2 class="display-4">Καλωσήρθατε ήρθατε στους Περιπάτους της Ελλάδας.</h2>
    <br />
    <br />
    <div class="image-container">
        <img width="650" height="300" src="https://thecaller.gr/wp-content/uploads/2015/10/ellada1.jpg" alt="Φυσική ομορφιά της Ελλάδας" class="img-fluid" />
        <img width="650" height="300" src="https://w0.peakpx.com/wallpaper/129/499/HD-wallpaper-beautiful-greece-nature-path-street-summer.jpg" alt="Φυσική ομορφιά της Ελλάδας" class="img-fluid" />
    </div>
    <br />
    <p>Ο καλύτερος προορισμός για την ανακάλυψη της φυσικής ομορφιάς της Ελλάδας μέσα από μοναδικούς περιπάτους! </p>
    <p>Εδώ, σας προσκαλούμε να ανακαλύψετε τους καλύτερους περιπάτους για κάθε γούστο και προτίμηση, σε όλη την επικράτεια της χώρας. </p>
    <p>Ανακαλύψτε γραφικά μονοπάτια με θέα στο Αιγαίο ή το Ιόνιο Πέλαγος, περιπάτους σε βουνά με καταπληκτική θέα, αλλά και γνωστούς περιπάτους μέσα στη πόλη.</p>
    <p>Αναζητήστε την περιπέτεια και την εξερεύνηση, απολαύστε την τις όμορφες περιοχές της Ελλάδας μέσα από την εφαρμογή μας.</p>
</div>
